{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

{% if author.avatar contains 'http' %}
	<img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
{% else %}
	<img src="images/bio_pic.JPG" class="bio-photo" alt="Jake Campbell bio photo">
{% endif %}
<h3>Jake Campbell</h3>
<p>NYC Data Scientist. 3 points > 2</p>
<a href="mailto:jcampbellsjci@gmail.com" class="author-social" target="_blank"><i class="fa fa-envelope-square"></i> Email</a>
{% if author.linkedin %}<a href="https://www.linkedin.com/in/john-campbell-b4b797b3/" class="author-social" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a>{% endif %}
{% if author.github %}<a href="https://github.com/jcampbellsjci" class="author-social" target="_blank"><i class="fa fa-github"></i> Github</a>{% endif %}

<style type="text/css"> 
.styled-button-4 {
	-webkit-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	background-color:#EEE;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border:1px solid #999;
	color:#666;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:11px;
	font-weight:700;
	padding:2px 6px;
	height:28px
}
</style>