<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

{% if author.avatar contains 'http' %}
	<img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
{% else %}
	<img src="/images/bio_pic.JPG" class="bio-photo" alt="Hannah Parker bio photo">
{% endif %}
<h3>Hannah Parker</h3>
<sb>Product Analytics @ Peloton <br>  </sb>
<p><a href="mailto:hannahdparker@gmail.com" class="author-social" target="_blank"><i class="fas fa-envelope"></i> Email</a></p>
<p><a href="https://www.linkedin.com/in/hannah-parker/" class="author-social" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></p>
<p><a href="https://github.com/hannahdparker" class="author-social" target="_blank"><i class="fab fa-github"></i></i> Github</a></p>
<p><a href="https://instagram.com/hannahdparker" class="author-social" target="_blank"><i class="fab fa-instagram"></i></i> Github</a></p>

<style type="text/css"> 
.styled-button-4 {
	-webkit-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	background-color:#EEE;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border:1px solid #999;
	color:#666;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:11px;
	font-weight:700;
	padding:2px 6px;
	height:28px
}
</style>